/* KOKEILUJA RESPONSIIVISUUTEEN 
----------------------------- */
* {
    box-sizing: border-box;
}

.nav::after {
    content: "";
    clear: both;
    display: table;
}

[class*= "col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-2 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
/*--------------------------------------
-----------------------------------------*/
#body {
    margin: 0;
    background-color: #f5f1ea;
}
/* FONTIT */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p, a {
    font-family: 'Merriweather', serif;
}
/* E N D FONTIT E N D */

/* NAVIGOINTI
------------------------------------------------------------*/

.tausta {
    background-image: url(kuvat/galleria6.png);
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    width: auto;
    max-width: 100%;
    height: 700px;
}

.otsikko {
    color: white;
    float: left;
    text-transform: uppercase;
}

.navbar {
    overflow: hidden;
    display: table;
    width: 100%;
}

.navbar ul {
    position: -webkit-sticky; /* safari */
    position: sticky;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-transform: uppercase;
    float: right;
}

.navbar li {
    display:inline-block; 
    position:relative; 
    margin:0 15px 0 0; 
    padding:0;
}

.navbar li a {
    display: block;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
 }

.navbar a:hover:not(.active) {
    background-color: #6f4521;
    
}


/* E N D NAVIGOINTI
-------------------------------------------------------------*/

/* TAPATHTUMA
-------------------------------------------------------------*/
.tapahtumat .valiotsikko {
    text-align: center;
}

.tapahtumat .alaotsikko {
    text-align: center;
}

.kalenteri {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.näyttelyt_nyt {
    text-align: center;
}

.poiminta {
    text-align: center;
}



/* E N D TAPAHTUMAT
--------------------------------------------------------------*/


/* TAITEILIJAT
-------------------------------------------------------------*/
.taiteilijat .valiotsikko {
    text-align: center;
}

.taiteilija_vasen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.taiteilija_oikea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* E N D TAITEILIJAT
--------------------------------------------------------------*/


/* TIETOA MIASTA
-------------------------------------------------------------*/

.tietoa .valiotsikko {
    text-align: center;
}

.rivi3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.kuva_mia {
    text-align: center;
}

.mia{
    border-radius: 60%;
}

/* E N D TIETOA MIASTA
--------------------------------------------------------------*/


/* YHTEYSTIEDOT
-------------------------------------------------------------*/
.yhteystiedot .valiotsikko {
    text-align: center;
}

.rivi4 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.kartta {
    text-align: center;
}

.maps {
    height: 250px;
    width: 300px;
    border-radius: 50%;
    padding-bottom: 16px;
}

.osoite {
    text-align: center;
}

.aukioloajat{
    text-align: center;
}

/* E N D YHTEYSTIEDOT
--------------------------------------------------------------*/


/* FOOTER
-------------------------------------------------------------*/


/* E N D FOOTER
--------------------------------------------------------------*/